.profile {
    font-size: 1vw;
}

/*label {
    font-size: 2vw;
    margin: 2%;
}*/

#friendForm {
    display: none;
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: 95%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
