<!doctype html>
<html>
<head>
    <meta name="Big Number">
    <meta charset="utf-8">
    <title>NtTask</title>
    <link rel="stylesheet" type="text/css" href="www/StartPageStyles.css">
    <link rel="stylesheet" type="text/css" href="www/DashboardStyles.css">
    <link rel="shortcut icon" href="www/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div id="taskForm">
        <button onclick="hideForm()">X</button>
        <form class="task">
            <div class="formItem">
                <label class="labelText">Имя задачи</label>
                <input class="inputText" type="text" id="TaskName" />
            </div>

            <div class="formItem">
                <label class="labelText">Дедлайн</label>
                <input class="inputText" type="datetime-local" id="Deadline" />
            </div>

            <div class="formItem">
                <label class="labelText">Приоритет</label>
                <input class="inputText" type="number" id="Priority" />
            </div>

            <button type="button" class="classicButton" onclick="addTask()">Создать зачачу</button>
            <br />
            <label id="errorLabel"></label>
        </form>
    </div>

    <div class="pageHeader">
        <button class="classicButton">Помощь</button>
        <button class="classicButton" onclick="ToProfile()">Профиль</button>
        <button class="classicButton" onclick="ExitFromAccount()">Выйти с аккаунта</button>
    </div>

    <div class="board">
        <div class="column" id="NotStarted">
            <div class="columnHeader">
                Не начаты
                <button class="AddButton" onclick="openForm()">+</button>
            </div>
        </div>

        <div class="column" id="InProcess">
            <div class="columnHeader">
                В процессе
            </div>
        </div>

        <div class="column" id="Done">
            <div class="columnHeader">
                Завершены
            </div>
        </div>

        <div class="column" id="Expired">
            <div class="columnHeader">
                Просрочены
            </div>
        </div>
    </div>

</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="www/DashboardScripts.js"></script>
<script src="www/TaskCardScripts.js"></script>