<!doctype html>
<html>
<head>
    <meta name="Big Number">
    <meta charset="utf-8">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="www/LogInStyles.css">
    <link rel="stylesheet" type="text/css" href="www/StartPageStyles.css">
    <link rel="shortcut icon" href="www/favicon.ico" type="image/x-icon" />
</head>

<body>
    <form class="loginForm">
        <div class="formItem">
            <label class="labelText">Логин</label>
            <input class="inputText" type="text" id="Login" />
        </div>

        <div class="formItem">
            <label class="labelText">Пароль</label>
            <input class="inputText" type="password" id="Password" />
        </div>

        <input class="classicButton" type="submit" value="Submit">
    </form>

</body>

</html>