<!doctype html>
<html>
<head>
    <meta name="Big Number">
    <meta charset="utf-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="www/LogInStyles.css">
    <link rel="stylesheet" type="text/css" href="www/StartPageStyles.css">
    <link rel="stylesheet" type="text/css" href="www/RegistrationStyles.css">
    <link rel="shortcut icon" href="www/favicon.ico" type="image/x-icon" />
</head>

<body>
    <form class="loginForm">
        <div class="formItem">
            <label class="labelText">Имя</label>
            <input class="inputText" type="text" id="Name" />
        </div>

        <div class="formItem">
            <label class="labelText">E-mail</label>
            <input class="inputText" type="text" id="Email" />
        </div>

        <div class="formItem">
            <label class="labelText">Логин</label>
            <input class="inputText" type="text" id="Login" />
        </div>

        <div class="formItem">
            <label class="labelText">Пароль</label>
            <input class="inputText" type="password" id="Password" />
        </div>

        <button type="button" class="classicButton" onclick="registrate()">Зарегистрироваться</button>
        <br />
        <label id="errorLabel"></label>
    </form>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="www/RegistrationScripts.js"></script>