<!doctype html>
<html>
<head>
    <meta name="Big Number">
    <meta charset="utf-8">
    <title>NtTask</title>
    <link rel="stylesheet" type="text/css" href="www/StartPageStyles.css">
    <link rel="stylesheet" type="text/css" href="www/DashboardStyles.css">
    <link rel="stylesheet" type="text/css" href="www/UserProfileStyles.css">
    <link rel="stylesheet" type="text/css" href="www/ErrorHandlerStyles.css">
    <link rel="shortcut icon" href="www/favicon.ico" type="image/x-icon" />
</head>

<body>

    <div id="errorWindow">
        <button onclick="hideErrWindow()">X</button>
        <label id="errorText" class="labelText"></label>
    </div>

    <div id="helpWindow">
        <button onclick="hideHelpWindow()">X</button>
        <label id="helpText" class="labelText">TODO: Написать инструкцию по пользованию</label>
    </div>

    <div id="friendForm">
        <button onclick="hideForm()">X</button>
        <form class="task">
            <div class="formItem">
                <label id="operationResult"></label>
            </div>
            <div class="formItem">
                <label class="labelText">Введите имя</label>
                <input class="inputText" type="text" id="UserNameInput" />
            </div>
            <div class="formItem">
                <ul id="users">
                </ul>
            </div>
        </form>
    </div>

    <div class="pageHeader">
        <button class="classicButton" onclick="openHelpWindow()">Помощь</button>
        <button class="classicButton" onclick="ToBoard()">Доска</button>
        <button class="classicButton" onclick="ExitFromAccount()">Выйти с аккаунта</button>
    </div>

    <div class="profile">
        Имя: <label id="Name"></label> <br />
        Email: <label id="Email"></label>
    </div>
    <table>
        <tr class="profile">
            <td><label>Друзья</label></td>
            <td id="friends">
                <ul id="friendsList"></ul>
                <button onclick="AddFriend()">Добавить</button>
            </td>
        </tr>
        <tr class="profile">
            <td><label>Заявки</label></td>
            <td><ul id="orders"></ul></td>
        </tr>
    </table>

</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="www/UserProfileScripts.js"></script>
<script src="www/ErrorHandlerScripts.js"></script>
