<!doctype html>
<html>
<head>
    <meta name="Big Number">
    <meta charset="utf-8">
    <title>NtTask</title>
    <link rel="stylesheet" type="text/css" href="www/StartPageStyles.css">
    <link rel="stylesheet" type="text/css" href="www/DashboardStyles.css">
    <link rel="stylesheet" type="text/css" href="www/UserProfileStyles.css">
    <link rel="shortcut icon" href="www/favicon.ico" type="image/x-icon" />
</head>

<body>

    <div class="pageHeader">
        <button class="classicButton">Помощь</button>
        <button class="classicButton">Доска</button>
        <button class="classicButton">Выйти с аккаунта</button>
    </div>

    <div class="profile">
        <label>Имя</label>
        <label>E-mail</label>
        <label>Логин</label>
        <label>Друзья</label>
    </div>

</body>

</html>