<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailPassword" value="pEMha$LUop13"/>
    <add key="MailString" value="nttask@mail.ru"/>
    <add key="MailServer" value="smtp.mail.ru"/>
    <add key="MailPort" value="587"/>
  </appSettings>
  <connectionStrings>
    <add name="nttask" connectionString="Host=localhost;Username=big;Password=0x1802;Database=nttask" />
  </connectionStrings>
</configuration>