<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailPassword" value="90nU8MLnAFpSMq2QDcZv"/>
    <add key="MailString" value="nttask@mail.ru"/>
    <add key="MailServer" value="smtp.mail.ru"/>
    <add key="MailPort" value="587"/>
    <add key="DefaultPrefix" value="http://127.0.0.1:5051/"/>
    <add key="salt" value="f8w4af8e8aw984fc4156af4w"/>
  </appSettings>
  <connectionStrings>
    <add name="nttask" connectionString="Host=localhost;Username=big;Password=0x1802;Database=nttask" />
  </connectionStrings>
</configuration>